[submodule "data"]
	path = data
	url = https://github.com/GlPortal/glportal-data.git
[submodule "external/RadixEngine"]
	path = external/RadixEngine
	url = https://github.com/GlPortal/RadixEngine.git
[submodule "documentation"]
	path = documentation
	url = https://github.com/GlPortal/documentation.git
