[submodule "data"]
	path = data
	url = https://github.com/GlPortal/glportal_data.git
[submodule "documentation/specification"]
	path = documentation/specification
	url = https://github.com/GlPortal/specification.git
[submodule "external/gwen"]
	path = external/gwen
	url = https://github.com/GlPortal/gwen.git
[submodule "external/vhacd-lib"]
	path = external/vhacd-lib
	url = https://github.com/GlPortal/vhacd-lib.git
