CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
portal
docs/
*~
[#]*[#]
.\#*
/Default
/.*
/glPortal.*
/build
Debug/
__pycache__/
CTestTestfile.cmake
Testing/
source/glportal
source/glportal_d
/html
documentation/html/
documentation/latex/
external/json11/libjson11.a
analysis.txt
source/gmon.out
documentation/doxygen_sqlite3.db
tests/gwenUnicodeTest
tests/quaternionTest
tests/xmlReadingTest