CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
portal
docs/
data/private.cfg
*~
[#]*[#]
.\#*
/Default
.ditz-config
.settings/
.project
.cproject
Debug/
__pycache__/
CTestTestfile.cmake
Testing/
source/glportal
source/glportal_d
tests/xmlReadingTest
/html
documentation/html/
documentation/latex/